.emptyCell {
  flex-grow: 1;
  height: 60px;
  border: 1px solid lightgrey;
}

.emptyRow {
  display: flex;
  justify-content: center;
}

// .emptyColumn {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

.calendar-visualization {
  width: 100%;
}
