.calendar-visualization {
    width: 100%;
    display: flex;
}

.calendar-day {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.calendar-hour {
    flex-grow: 1;
    height: 60px;
    border: 1px solid lightgrey;
    width: 100%;
}