.sidebar {
  display: flex;
  width: 100%;
  z-index: 1;
}
  
.clock {
    display: flex; 
    position: relative;
      top: 52px;
      margin-right: 10px;
      margin-left: 10px;
      flex-direction: column;
      height: 60px;
      color: black;
}
  
  .timing {
    &__blocks {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .line {
    &__blocks {
      height: 50px;
      width: 10px;
      border-top: 1px solid black;
    }
  }



